<h1>Listing displays</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Quantity</th>
  </tr>

<% for display in @displays %>
  <tr>
  <td><%=h display.name %></td>
  <td><%=h display.description %></td>
    <td><%=h display.quantity_available %></td>
    <td><%= link_to 'Show', display %></td>
    <td><%= link_to 'Edit', edit_display_path(display) %></td>
    <td><%= link_to 'Destroy', display, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New display', new_display_path %>
