<p>
  <b>Name:</b>
  <%=h @display.name %>
</p>
<p>
  <b>Description:</b>
  <%=h @display.description %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @display.quantity_available %>
</p>


<%= link_to 'Edit', edit_display_path(@display) %> |
<%= link_to 'Back', displays_path %>
